[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Software;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=wagon

X-SuSE-YaST-Group=Software
X-SuSE-YaST-Argument=PatchCD
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=

Icon=yast-cd_update
Exec=xdg-su -c "/sbin/yast2 wagon PatchCD"

Name=Patch CD Update
GenericName=Install patches from CD to correct and improve your existing installation
StartupNotify=true
